      
          </div><!-- /.container -->
          <footer><p class="text-center">&COPY; copyright Q-MART 2022</p></footer>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.17.1/ckeditor.js"></script>
          <script>
            CKEDITOR.replace('ta');
          </script>
        </body>
      </html>
